{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet"
  href="{% static 'css/dogs/dog-detail.css' %}"
  type="text/css"
>
<script defer src="{% static 'js/dog-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="dog-container">
  <div class="dog-details">
    <h1>{{ dog.name }}</h1>
    {% if dog.age > 0 %}
      <h2>A {{ dog.age }} year old {{ dog.breed }}</h2>
    {% else %}
      <h2>A {{ dog.breed }} puppy.</h2>
    {% endif %}
    <p>{{ dog.description }}</p>
    <div>
      <a href="{% url 'dog-update' dog.id %}" class="btn warn">Edit</a>
      <a href="{% url 'dog-delete' dog.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="naps-treats-container">
  <section class="naps">
    <div class="subsection-title">
      <h2>Naps</h2>
    </div>
    <h3>Add a Nap</h3>
    <form 
      action="{% url 'add-nap' dog.id %}"
      method="post" 
      class="subsection-content"
      autocomplete="off"
    >
      {% if dog.napped_for_today %}
        <p>{{dog.name}} has napped all their naps today!</p>
      {% else %}
        <p>{{dog.name}} might be sleepy 😴</p>
      {% endif %}
      {% csrf_token %}
      {{ nap_form.as_p }}
      <button type="submit">Add Nap</button>
    </form>
    <h3>Past Naps</h3>
    {% if dog.nap_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Time</th></tr>
        </thead>
        <tbody>
          {% for nap in dog.nap_set.all %}
            <tr>
              <td>{{nap.date}}</td>
              <td>{{nap.get_time_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div>
        <p>{{dog.name}} has never had a nap 😔</p>
      </div>
    {% endif %}
  </section>
  </section> 
	{% comment %} Add this section below the CLOSING tag (</section>) for <section class="feedings"> {% endcomment %}
  <section class="treats">
    <div class="subsection-title">
      <h2>Treats</h2>
    </div>
    <h3>{{ dog.name }}'s Treats</h3>
    <div class="subsection-content">
      {% if dog.treats.count %}
        {% for treat in dog.treats.all %}
          <div class="treat-container">
            <a href="{% url 'treat-detail' treat.id %}">
              <p>A {{ treat.size }} {{ treat.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-treats">{{dog.name}} doesn't have any treats 😞</p>
      {% endif %}
    </div>
    <h3>Available Treats</h3>
    <div class="subsection-content">
      {% if treats.count %}
        {% for treat in treats.all %}
          <div class="treat-container">
            <a href="{% url 'treat-detail' treat.id %}">
              <p>A {{ treat.size }} {{ treat.name }}</p>
            </a>
            <form action="{% url 'assoc-treat' dog.id treat.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Give treat</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p>
          {{dog.name}} already has all the available treats 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}