{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cats/cat-index.css' %}"
/>
{% endblock %}

{% block content %}

<section>
  <h1>Dog List</h1>
</section>

<section>
  {% for dog in dogs %}
    <div class="card">
      <div class="card-content">
        <h2 class="card-title">{{ dog.name }}</h2>
        {% if dog.age > 0 %}
          <p>A {{ dog.age }} year old {{ dog.breed }}</p>
        {% else %}
          <p>A {{ dog.breed }} puppy.</p>
        {% endif %}
        <p><small>{{ dog.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}